<!-- some functions are common to all pages, such as the navigational bar-->

<!doctype html>
<html>
    <head>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- basic custom style css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- special classes custom style css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/specialClass.css') }}">

        <title>CS411 Proj Grp39</title>

    </head>
    <body>
        <nav class="navbar navbar_custom">
            <ul>
                <li class="nav-item">
                    <a href="{{ url_for('search') }}">Search</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('login') }}">Log in</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('create') }}">Sign up</a>
                </li>

            </ul>
        </nav>

        <!-- inheriting scripts insert below using name "content"-->
        <div class="content">
            {% for message in get_flashed_messages() %}
                <!--in case we need to show any warnings-->
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% block content %}{% endblock %}
        </div>

    </body>
</html>