<!-- some functions are common to all pages, such as the navigational bar-->

<!doctype html>
<html>
    <head>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- basic custom style css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- special classes custom style css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/specialClass.css') }}">

        {% if title %}
        <title>{{ title }} - Grp39</title>
        {% else %}
        <title>CS411 Proj Grp39</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar_custom">
{#            <span>CS411 Project midterm demo:</span>#}
            <ul>
                <li class="nav-item">
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('search_validation') }}">Search database</a>
                </li>

            </ul>
        </nav>

        <!-- inheriting scripts insert below using name "content"-->
        <div class="content">
            {% for message in get_flashed_messages() %}
                <!--in case we need to show any warnings-->
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% block content %}{% endblock %}
        </div>

    </body>
</html>