{% extends "base.html" %}

{% block content %}

    <h1>{% block title %} Sign up a user {% endblock %}</h1>

    <div class="form_area">
        <form method="post">
            <label for="username">Username</label>
            <br>
            <input type="text" name="username"
                   placeholder="my_username"
                   value="{{ request.form['username'] }}"></input>
            <br>
            <label for="password">Password</label>
            <br>
            <input type="text" name="password"
                   placeholder="my_password"
                   value="{{ request.form['password'] }}"></input>
            <br>
            <label for="realname">Realname</label>
            <br>
            <input type="text" name="realname"
                   placeholder="my_realname"
                   value="{{ request.form['realname'] }}"></input>
            <br>

            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}