{% extends "base.html" %}

{% block content %}

<h1>{% block title %} Sign up a user {% endblock %}</h1>
<form method="post">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username"
           placeholder="Username"
           value="{{ request.form['username'] }}"></input>
    <br>

    <label for="password">Password</label>
    <br>
    <textarea name="password"
              placeholder="Password"
              >{{ request.form['password'] }}</textarea>
    <br>

    <label for="realname">Realname</label>
    <br>
    <textarea name="realname"
              placeholder="Realname"
              >{{ request.form['realname'] }}</textarea>
    <br>

    <button type="submit">Submit</button>
</form>


{% endblock %}