<!--REQUIRES: title-->
{% extends "base.html" %}

{% block content %}
    <h1>CS411 Project Grp39 {{ title }}</h1>
    <h2> CRUD + Search operations </h2>

    <ol class="index_ops">
        <li><a href="{{ url_for('search') }}">Search the database using a keyword search</a></li>
        <li><a href="{{ url_for('create') }}">Insert new records</a></li>
        <li><a href="{{ url_for('update') }}">Update records on the database</a></li>
        <li><a href="{{ url_for('delete') }}">Delete rows from the database</a></li>
        <li>Integrate the two advanced SQL queries developed in stage 3
            <ol>
                <li><a href="{{ url_for('query1') }}">Query 1</a></li>
                <li><a href="{{ url_for('query2') }}">Query 2</a></li>
            </ol>
        </li>
    </ol>

{% endblock %}