{% extends "base.html" %}

{% block content %}

    <div class="white_box">
    <div class="form_area">
        <h1 style="padding: 0 0 20px 0">Search</h1>
        <div class = "checkbox_area">
          <label> <input id="restaurants_check" type="checkbox"> Restaurants</label>
          <label> <input id="cafes_check" type="checkbox"> Cafes</label>
          <label> <input id="bars_check" type="checkbox"> Bars</label>
        </div>

        <input class="main_search" type="text" id="keyword_field">

        <div>
          <button id="submit_keyword">Search</button>
          <button id="submit_suggest">Suggest</button>
        </div>

    </div>
        <div id="results_div", class="display_results">

        </div>
    </div>

    <button id="options_btn">Options</button>
    <div id="options_tab" class="optionTab">
        <p><img src="../static/img/avatar.png" width="80" height="80" alt="480">{{username}}</p>

        <button id="preferences_btn">Preferences</button>
        <button id="history_btn">History</button>
        <button id="password_change">Change password</button>
        <button id="logout_btn">Log out</button>
        <button id="del_user" style="color: #970020">Delete this account</button>

    </div>
<script>

  /*
   * The /search_handler endpoint expects some combination of the parameters "bar=keyword", "cafe=keyword", or "restaurant=keyword" so we need to prepare the data into ecoded url params
   * @param (string) the keyword in the search bar to search for
   * @param (string array) should contain some combination of strings "bar", "cafe", and "restaurant" for the keys used in the request
   * @return the encoded string
   */
  function prepareSearchParams(keyword, keys) {
    let encoded = "";
    for (let i = 0; i < keys.length; i++) {
      encoded += (keys[i] + "=" + keyword);
      if (i != (keys.length-1)) encoded += "&";
    }
    return encodeURI(encoded);
  }

  function keywordSearch(keyword) {
    let req = new XMLHttpRequest();
    req.addEventListener("load", () => {
      resp_all = JSON.parse(req.responseText); // returns an object with keys "bars", "restaurants", or "cafes" and a string encoding a list of objects
      let results_div = document.getElementById("results_div");
      results_div.innerHTML = ""; // clear list before populating with new results
      Object.entries(resp_all).forEach(entry => {
	    let place_type = entry[0];
        let places = JSON.parse(entry[1]); // index 0 is key, index 1 is value
        places.forEach(place => {
          let b = document.createElement("button");
		  b.innerHTML = "<button>"+place.res_name+"</button>";
	      b.addEventListener("click", () => {
            location.href = '/place_details?'+place_type+'='+place.id;
          });
		  results_div.appendChild(b);
        });
      });
    });

    let search_types = [];
    if (document.getElementById("restaurants_check").checked) search_types.push("restaurant");
    if (document.getElementById("cafes_check").checked) search_types.push("cafe");
    if (document.getElementById("bars_check").checked) search_types.push("bar");

    req.open("GET", "http://127.0.0.1:5000/search_handler?"+prepareSearchParams(keyword, search_types));
    req.send();
  }


  function fetchSuggestion() {
    let req = new XMLHttpRequest();
    req.addEventListener("load", () => {
      resp_all = JSON.parse(req.responseText); // returns an object with keys "bars", "restaurants", or "cafes" and a string encoding a list of objects
      let results_div = document.getElementById("results_div");
      results_div.innerHTML = ""; // clear list before populating with new results
      Object.entries(resp_all).forEach(entry => {
        let places = JSON.parse(entry[1]); // index 0 is key, index 1 is value
        places.forEach(place => {
          let place_type = "restaurant";
          let place_id = place["res_id"];
          if (place["bar_id"]) {
			place_type = "bar";
            place_id = place["bar_id"];
          }
          if (place["cafe_id"]) {
			place_type = "cafe";
			place_id = place["cafe_id"];
		  }
          let b = document.createElement("button");
          
		  b.innerHTML = '<button>'+place.res_name+'</button>';
          b.addEventListener("click", () => {
            location.href = '/place_details?'+place_type+'='+place_id;
          });
		  results_div.appendChild(b);
        });
      });
    });

    let restaurants_checked = document.getElementById("restaurants_check").checked;
    let bars_checked = document.getElementById("bars_check").checked;
    let cafes_checked = document.getElementById("cafes_check").checked;

    req.open("GET", "http://127.0.0.1:5000/suggest_handler?bars="+bars_checked+"&restaurants="+restaurants_checked+"&cafes="+cafes_checked);
    req.send();
  }

  // button listeners
  let options_btn = document.getElementById("options_btn");
  let history_btn = document.getElementById("history_btn");
  let preferences_btn = document.getElementById("preferences_btn");
  let password_btn = document.getElementById("password_change");
  let del_user_btn = document.getElementById("del_user");

  options_btn.addEventListener("click", () => {
    document.getElementById("options_tab").style.visibility = document.getElementById("options_tab").style.visibility == "visible" ? "hidden" : "visible";
  });

  preferences_btn = document.getElementById("preferences_btn");
  preferences_btn.addEventListener("click", () => {
    location.href = '/preferences';
  });

  password_btn.addEventListener("click", () => {
      location.href = '/update';
  });

  del_user_btn.addEventListener("click", () => {
      location.href = '/delete'
  });

  document.getElementById("logout_btn").addEventListener("click", () => location.href = '/logout')

  history_btn.addEventListener("click", () => {
    location.href = '/history';
  });

  let keyword_btn = document.getElementById("submit_keyword");
  let suggest_btn = document.getElementById("submit_suggest");

  keyword_btn.addEventListener("click", () => {
    let keyword = document.getElementById("keyword_field").value;
    keywordSearch(keyword);
  });

  suggest_btn.addEventListener("click", () => {
    fetchSuggestion();
  });

</script>
{% endblock %}
