{% extends "base.html" %}

{% block content %}
    <div class="white_box">

    <h1>{% block title %} Update Password {% endblock %}</h1>
    <div class="form_area">
        <form method="post">
            <label for="username">Username</label>
            <br>
            <input type="text" name="username"
                   placeholder="Username"
                   value="{{ request.form['username'] }}"></input>
            <br>

            <label for="oldPassword">Old Password</label>
            <br>
            <input type="text" name="oldPassword"
                   placeholder="my_old_password"
                   value="{{ request.form['oldPassword'] }}"></input>
            <br>

            <label for="newPassword">New Password</label>
            <br>
            <input type="text" name="newPassword"
                   placeholder="my_new_password"
                   value="{{ request.form['newPassword'] }}"></input>
            <br>

            <button type="submit">Submit</button>
        </form>
    </div>

    </div>

{% endblock %}